@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url(https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');


:root {
  --main-color: #171717;
  --main-color-background: #ffffff;
  --link-background: #ffffff;
  --text-color: #171717;
}

body {
	font-family: 'Lato', sans-serif !important;
	font-size: 16px !important;
	color: var(--text-color) !important;
}

h1, h2, h3, h4 {
	color: var(--text-color) !important;
	font-family: 'Lato Semibold', sans-serif !important;
}

h1, h2 {
	font-weight: 600 !important;
}

h3 {
	font-weight: 600 !important;
}

h1:after {
	content: "";
    display: block;
    width: 10%;
    min-width: 6rem;
    height: 6px;
    background: var(--main-color);
    margin-top: 1rem;
	margin-bottom: 2rem;
}

p {
	color: var(--text-color) !important;
}

.page {
	margin-top: 80px !important;
}

a {
	color:  var(--main-color) !important;
}


.sidebar-sticky, .toc-sticky {
	top: 80px !important;
	height: calc(100vh - 100px) !important;
	
}

.toc-sticky {
	padding-bottom: 420px;
}

.sidebar-drawer {
	background-color: #ffffff !important;
}

.sidebar-tree .current > .reference {
	background: #ffffff !important;
}

.toctree-l1 > a, .toctree-l1 > label .icon {
	color: #171717 !important;
	font-size: 16px !important;
	line-height: 1.8em !important;
	font-weight: 600 !important;
}

.toctree-l2 > a, .toctree-l3 > a, .toctree-l4 > a, .toctree-l5 > a, .toctree-l2 > label .icon, .toctree-l3 > label .icon, .toctree-l4 > label .icon,.toctree-l2 > label .icon {
	color: #171717 !important;	
	font-size: 14px !important;
	line-height: inherit !important;
}

.toctree-checkbox:checked~label .icon svg, .toctree-checkbox~label .icon svg {
	transition: transform .15s ease-in-out;
}

.toc-tree {
	font-size: 13px !important;
}

.sidebar-sticky > .sidebar-search-container, .sidebar-brand {
	display: none !important;
}

.header-new {
	height: 80px !important;
	width: 100% !important;
	z-index: 9999;
	position:fixed;
	top: 0;
	background: #ffffff !important;
	box-shadow: 0 0 20px rgb(0 0 0 / 10%);
}

.header-content {
	margin-left: auto;
	margin-right: auto;
	width: 80em !important;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 80px;
}

.sidebar-sticky {
	padding-top: 5px !important;
}

.content {
	padding-top: 30px !important;
	background-color: #ffffff !important;
}


.search-box {
	margin-right:10px !important;
	display: inline-block !important;
}

.logo-part {
	padding-right:5px;
	flex-flow:row;
	display: flex;
	align-items: center;
}

.logo {
	display: inline-block !important;
	padding-right: 5px;
}

.docs {
	display: inline-block;
}

.docs a {
	font-size:34px;
	text-decoration: none !important;
	color: #0D1A3F !important;
	font-weight: 600 !important;
}

/* Fixing anchors */

.anchor-fixed {
	padding-top: 90px !important;
	margin-top: -75px !important;
}

/* Footer */

.footer-holder .footer-bottom {
	max-width: 100%;
	align-items: flex-start;
}

.footer-holder {
   flex: 0 0 auto !important;
   z-index: 9999 !important;
   background-color: #010615 !important;
   padding: 20px;

}

.footer-bottom {
	margin-left: auto !important;
	margin-right: auto !important;
	width: 80em !important;
	color: #ffffff;
		
}

.related-pages {
	margin-bottom: 35px !important;
}

/* Index page */

div.leftside {
  width: 43%;
  padding: 0px 3px 0px 0px;
  float: left;
}

div.rightside {
  margin-left: 45%;
  float: right;
}

/* Page styles*/

p {
	margin-top: 1.1em !important;
	margin-bottom: 1.1em !important;
}

.section > ol.arabic, .section > ul {
	padding-left: 2em !important;
}

ol li > p, ul li > p {
	margin-top: 0.7em !important;
	margin-bottom: 0.7em !important;
}


.section > ol, .section > ul {
	
	margin-bottom: 2em !important;
}

.section > ol li, .section > ul li {
	
	padding-left: 5px !important;
}

.section > .toctree-wrapper {
	padding-left: 2em !important;
}

.section > .toctree-wrapper > ul {
	line-height: 2em !important;
}

.section > .simple li>ol {
	list-style-type: lower-latin !important;
	margin-top: 1.2em !important;
	margin-bottom: 1.2em !important;
}

/* Links color */

.section a {
	color: var(--main-color) !important;
	text-decoration: none !important;
	font-weight: 400 !important;
	background-color: var(--link-background) !important;
}

.section .headerlink {
	background-color: #ffffff !important;
	color: #f2f2f2 !important;
	
}

/* TOC */

.caption {
	font-size: 15px !important;
	color: #0d1940 !important;
}

/* Notes */

p.admonition-title {
	display:none !important;
	
}

.admonition {
	box-shadow: none !important;
	border-radius: 2px !important;
	font-size: 0.9em !important;
	padding: 10px !important;
	padding-left: 20px !important;
	border-left-color: #E69400 !important;
	background: #FFE4BE !important;
}

.admonition.syntax {
    border-left: none;
    background: #f8f8f8 !important;
	font-family: Inconsolata,monospace;
	font-weight: 600;
}

.admonition .literal {
	background-color: #ffc55f85 !important;
}
/* Code highlighter */

.highlight  {
	background: #0d1940 !important;
	padding-top: 15px !important;
	padding-bottom: 15px !important;
}

.highlight .kd {
	color: #559ad4 !important;
	font-weight: 400 !important;
}

.highlight .kc {
	color: #559ad4 !important;
	font-weight: 400 !important;
}


.highlight .k {
	color: #559ad4 !important;
	font-weight: 400 !important;
}

.highlight .mf {
	color: #447fcf !important;
}

.highlight .hll {
	background-color: #1f4785 !important;
}

.highlight .s2 {
	color: #c78b73 !important;
}


code.literal {
	font-size: 0.9em !important;
	background-color: #eeebee !important;
}

/* Copy button */

a.copybtn {
	height: 2em !important;
	width: 2em !important;
}

/* Tabs */

.tabbed-content {
	box-shadow: none;
}

.tabbed-set>input:checked+label {
	border-color: var(--main-color) !important;
	color: var(--main-color) !important;
}

.tabbed-set > label {
	color: #566270 !important;
	font-size: 16px !important;
}

.tabbed-set > label:hover {
	color:  var(--main-color) !important;
}

/*Buttons*/

.sphinx-bs.btn {
	color:#ffffff !important;
	background: var(--main-color) !important;
}

.sphinx-bs.btn:hover {
	color:#ffffff !important;
}

/* Tables */

.docutils {
	box-shadow: none !important;
	width: 100% !important;
}

table.docutils td, table.docutils th {
	border-bottom: none !important;
}

tr.row-odd {
	background-color: #f8f9fbba !important;
}

th  {
	font-size: 0.9em !important;
	text-transform: uppercase !important;
	background-color: #ffffff !important;
	border: 0px !important;
}

thead {
	border: 0px !important;
	border-bottom: 2px solid var(--main-color) !important;
}

th > p {
	color: var(--main-color) !important;
}

tr {
	font-size: 0.9em !important;
}


/* Search */

.right-block {
	display: flex;
	align-items: center;
}

.sidebar-search-container {
	background: #eeebee !important;
	border-radius: 8px !important;
	margin: 0px !important;
}

.sidebar-search {
	border: 0px !important;
}

/* Social media*/

.fa {
  padding: 10px;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
}

.fa-twitter, .fa-github, .fa-youtube-play, .fa-slack {
  color: #6E7274 !important;
}

/* Dropdowns*/

.dropdown.card {
	border: 0px !important;
	border-bottom: 1px solid #e3e3ed !important;
}

.card-header {
	background-color: #ffffff !important;
	padding-left:40px !important;
	border-bottom: 0px !important;
	font-size: 18px !important;
}

details.dropdown .summary-up svg > path, details.dropdown .summary-down svg > path {
	display: none;
}


details.dropdown .summary-up svg {
	background-image: url("open.svg") !important;
	background-repeat: no-repeat;
	background-size: 24px;
	display: inline-block;
	vertical-align:middle;
	margin-left: 20px;
	margin-top: 5px !important;
	
}

details.dropdown .summary-down svg {
	background-image: url("closed.svg") !important;
	background-repeat: no-repeat;
	display: inline-block;
	vertical-align:middle;
	background-size: 24px;
	margin-left: 20px;
	margin-top: 5px !important;
}

.dropdown .card-text, .card .highlight {
	margin-left:20px !important;
}


/* Cards */

.sphinx-bs .card {
	box-shadow: none !important;

}

.custom-style {
	background-color: #ffffff !important;
}


.custom-style:hover {
	box-shadow: 0 0 20px rgb(0 0 0 / 10%) !important;
}

.custom-style-blue {
	background-color: #f6f6f6 !important;
}

.custom-style-blue-nohover {
	background-color: #EBF6FF !important;
}

.custom-style-blue:hover {
	box-shadow: 0 0 20px rgb(0 0 0 / 10%) !important;
}

.custom-style-white {
	background-color: #ffffff !important;
}




.main {
	background-image: url("pattern.png");
	background-repeat: repeat;
	background-color: var(--main-color-background) !important;
	background-size: 516px auto !important;
}

.article {
	padding-bottom: 100px;
}

.mb-3, .my-3 {
	margin-bottom: 0px !important;
}

/* Video container*/

.video-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

/*Tooltips*/

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 80px;
    top: 100%;
    left: 50%;
    margin-left: -40px;
    background-color: #6E7274;
    color: #fff;
    text-align: center;
	font-size: 16px;
    padding: 5px 0;
    border-radius: 6px;
 
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    bottom: 100%;  /* At the top of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #6E7274 transparent;
}

.logos {
  display: flex;
  align-items:center;
  justify-content:center;
}

/* Footer */

.alan-footer {
	background-color: black;
    margin-right: -20.6em;
    margin-left: -3.4em;
    z-index: 999;
	padding: 3em;
}


.footer-logo-and-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.footer-logo-and-text {
	display:flex;
	justify-content:flex-start;
	align-items:flex-start;
}

.footer-logo {
	background-image: url("alan-logo-footer.svg");
	background-repeat: no-repeat;
	min-height: 36px;
	height:36px;
	min-width:166px;
	width:166px;
	background-size:contain;
	margin-bottom:24px;
	
}
.footer-text {
	font-size:12px;
	font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: .33px;
    color: #bbcfe7;
    margin-bottom: 4px;
    display: block;
}

.footer-other {
	margin-top: 24px;
}

.footer-social > .fa {
  padding: 0px;
  font-size: 24px;
  text-align: center;
  text-decoration: none;
  margin-right:15px;
}

.footer-social > a {
  color: #ffffff !important;
}

.footer-badges-info {
	margin-left: 0;
    margin-right: 0;
    text-align: left;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
	color: #bbcfe7;
	font-size:12px;
	margin-top: 90px;
	max-width: 640px;
}

.footer-badges-info-icon {
	background-image: url("playground-icon.svg");
	background-repeat: no-repeat;
	min-height: 48px;
	height:48px;
	min-width:48px;
	width:48px;
	background-size:contain;
	margin-right:16px;
}

.footer-badges-imgs {
	-webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    align-items: flex-start;
	margin-top:24px;
}

.footer_badges_imgs_app-store {
	background-image: url("appstore.svg");
	background-repeat: no-repeat;
	min-width: 144px;
    width: 144px;
    max-width: 144px;
    min-height: 48px;
    height: 48px;
    max-height: 48px;
    background-size: contain;
    margin-bottom: 16px;
	margin-right:16px;
}

.footer_badges_imgs_google-play {
	background-image: url("googleplay.svg");
	background-repeat: no-repeat;
	min-width: 164px;
    width: 164px;
    max-width: 164px;
    min-height: 48px;
    height: 48px;
    max-height: 48px;
    background-size: contain;
    margin-bottom: 16px;
}



@media (max-width: 82em) {
	.main {
		background-image: inherit !important;
		background-color: #ffffff !important;
}	

@media (max-width: 67em) {
	 
	.header-new {
		display: none;
    }
	
	.page {
		margin-top: inherit !important;
	}
	
	.sidebar-sticky {
		top: 20px !important;
	}
	
	.toc-sticky {
		top: 0px !important;
	}
	
	.sidebar-sticky > .sidebar-search-container, .sidebar-brand {
		display: block !important;
	}
	
	.sidebar-logo-container {
		max-width:100px !important;
		
	}
	
	.sidebar-brand {
		display:none !important;
	}
	
	.sidebar-search-container {
		margin-left: 10px !important;
		margin-right: 10px !important;
	}
	
	.docs a {
	font-size:24px !important;
    }
	
	.sidebar-search-container:before {
		top: 10px !important;
	}
	
	.alan-footer {
		margin-right: -3.5em;

	}
	
	.footer-text, .footer-badges-info {
		max-width: 300px;
	}


}

