$height-nav: 92px;
$sidebar-nav-mobile: 50px;
$color-back: hsl(0, 0%, 100%);
$color-front: hsl(213, 15%, 12%);

$side-bar-wdith-mobile: 0px;
$side-bar-wdith-desktop-1024: 220px;
$side-bar-wdith-desktop-1280: 250px;
$side-bar-wdith-desktop-1440: 320px;
$side-bar-wdith-desktop-1920: 420px;

$right-part-mobile: 0px;
$right-part-screen-1024: 180px;
$right-part-screen-1280: 22.5vw;
$right-part-screen-1440: 22.5vw;
$right-part-screen-1920: 25.5vw;

$tablet: 768px;
$step1024: 1024px;
$step1280: 1280px;
$step1440: 1440px;
$step1920: 1920px;

$blue-main: #0060b9;
$blue-main-light: #1886ed;
$blue-main-dark: #004280;

$green-main: #007B78;
$green-main-light: #009995;
$green-main-dark: #005c59;

$violet-main: #5536b3;
$violet-main-light: #6c4acf;
$violet-main-dark: #301480;

$red-main: #cc420a;
$red-main-light: #e66632;
$red-main-dark: #992c00;

$black: #0d1940;
$black-1: #455073;
$black-2: #6b7699;
$black-3: #8f97b3;

$light-grey: #cfd4e6;

$content-pad-lr-mobile: 16px;
$content-pad-lr-tablet: 32px;
$content-pad-lr-desktop: 60px;

//footer variables
$padding-lr-320: 20px;
$padding-lr-768: 40px;
$padding-lr-1024: 40px;
$padding-lr-1280: 60px;
$padding-lr-1440: 80px;
$padding-lr-1920: 80px;